<link rel="stylesheet" href="~/css/group.css" />
<div class="container w-75">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link groupTab " href="/">Medlemmar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link groupTab" href="/">Chatt</a>
        </li>
    </ul>
</div>