@model List<ItTakesAVillage.Models.Group>
@using ItTakesAVillage.Interfaces
@using Microsoft.AspNetCore.Identity

<link rel="stylesheet" href="~/css/group.css" />
<div class="container w-75  mb-4">

    <h4 class="abrilFont mb-4">@Resources.MyGroups</h4>
    @foreach (var group in Model)
    {
        <a asp-page="/GroupDetails" asp-route-groupId="@group.Id"> 
            <div class="row group-row d-flex">
                <div class="col group-container">
                    <i class="bi bi-circle-fill pinkFontColor p-2"></i>
                    <span class="fw-bold">@group.Name</span>
                </div>
                <div class="col d-flex arrow-container">
                    <i class="bi bi-arrow-right-circle-fill" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="bottom" 
                    title="@Resources.GoToGroup"></i>
                </div>
            </div>
        </a>
    }
</div>