@model ItTakesAVillage.Models.Group
<link rel="stylesheet" href="~/css/group.css" />
<div class="container w-75">
    <ul class="nav nav-tabs">
        <li class="nav-itemgroupTab">
            <a class="nav-link"
               asp-page="/GroupDetails"
               asp-route-groupId="@Model.Id">Medlemmar</a>
        </li>
        <li class="nav-item groupTab">
            <a class="nav-link" asp-page="/GroupChat" asp-route-groupId="@Model.Id">Gruppchatt</a>
        </li>
    </ul>
</div>