<link rel="stylesheet" href="~/css/toolPool.css" />
<div class="container w-75">
    <ul class="nav nav-tabs">
        <li class="nav-item greenBgColor">
            <a class="nav-link toolPoolTab " href="/ToolPool">Prylar</a>
        </li>
        <li class="nav-item blueBgColor">
            <a class="nav-link toolPoolTab" href="/ToolShare">Dela pryl</a>
        </li>
    </ul>
</div>