<link rel="stylesheet" href="~/css/toolPool.css" />
<div class="container w-75">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link toolPoolTab" data-toggle="tab" href="/ToolPool">Prylar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link toolPoolTab" data-toggle="tab" href="/ToolShare">Dela pryl</a>
        </li>
        <li class="nav-item">
            <a class="nav-link toolPoolTab" data-toggle="tab" href="/ToolBorrowed">Dina lånade prylar</a>
        </li>
    </ul>
</div>