@using ItTakesAVillage.Frontend
<link rel="stylesheet" href="~/css/toolPool.css" />
<div class="container w-75">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link toolPoolTab" data-toggle="tab" href="/ToolPool">@Resources.Tools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link toolPoolTab" data-toggle="tab" href="/ToolShare">@Resources.ShareTool</a>
        </li>
        <li class="nav-item">
            <a class="nav-link toolPoolTab" data-toggle="tab" href="/ToolBorrowed">@Resources.YourBorrowed</a>
        </li>
    </ul>
</div>