@page "/Group/GroupDetails"
@model ItTakesAVillage.Pages.GroupDetailsModel
@{
}
@if (Model.CurrentUser != null)
{
    <h2 class="text-center abrilFont m-5">Samla dina vänner och börja hjälpas åt!</h2>

    @if (Model.UsersInGroup != null && Model.UsersInGroup.Any())
    {
        await Html.RenderPartialAsync("_MemberPartial", Model.UsersInGroup);
        await Html.RenderPartialAsync("_GroupTabPartial");
    }
    <div class="greenBgColor py-5">
        <div class="container w-75">
            @if (Model.UsersInGroup != null && Model.UsersInGroup.Any())
            {
                <form method="post" asp-page-handler="AddUserToGroup">
                    <h5 class="abrilFont mt-3">Lägg till medlem i grupp</h5>
                    <div class="d-flex w-50 gap-2">
                        @* <select id="selectList1" class="form-control col bg-transparent" asp-for="NewUserGroup.GroupId" asp-items="ViewBag.GroupId" required>
                            <option disabled selected>Välj grupp</option>
                        </select> *@
                        <input type="hidden" name="groupId" value="@Model.GroupId" />
                        <select id="selectList2" class="form-control col bg-transparent inline-block" asp-for="NewUserGroup.UserId" asp-items="ViewBag.UserId" required>
                            <option disabled selected>Välj medlem</option>
                        </select>
                    </div>
                    <input type="submit" class="btn pinkBgColor my-2 fw-bold" value="Spara" />
                </form>
            }
        </div>
    </div>
    <partial name="Shared/_FooterQuote" />
}
