@page
@model ItTakesAVillage.Pages.ToolLoanModel
@{
}
<link rel="stylesheet" href="~/css/toolPool.css" />
@if (Model.CurrentUser != null)
{
    <div class="d-flex align-items-center flex-column">
        <img class="mx-auto eventImg" alt="wrench with pink background" src="img/tool.png" />
        <h2 class="abrilFont text-center mt-2 mb-5">Prylpool</h2>
    </div>
}
@if (Model.GroupsOfCurrentUser != null && Model.GroupsOfCurrentUser.Any())
{
    await Html.RenderPartialAsync("_ToolPoolTabPartial");
    <div class="pinkBgColor py-4">
        <div class="container w-75 pt-5 pb-4">
            @if (Model.Tools != null && Model.Tools.Any())
            {
                <div class="row">
                    @foreach (var tool in Model.Tools)
                    {
                        @* <div class="col-sm-6 mb-3 mb-sm-0"> *@
                        <div class="card ms-2">
                            <div>
                                <img src="@(tool.Image != null ?
                                    $"/uploadedImg/{tool.Image}/{tool.Image}" :
                                    $"/img/defaultImg.svg")"
                                    alt="Beskrivning" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><b>@tool.Name</b></h5>
                                <p class="card-text">@tool.Description</p>
                                <p class="card-text creator-txt small">
                                    Delad av @(tool.Creator != null ?
                               tool.Creator.FirstName + " " + tool.Creator.LastName :
                               "")
                                </p>
                                @if (tool.CreatorId == Model.CurrentUser?.Id)
                                {
                                    <a href="#" class="btn greenBgColor">Ta bort</a>
                                }
                                else
                                {
                                    <a href="#" class="btn pinkBgColor">Låna</a>
                                }
                            </div>
                        </div>
                        @* </div> *@
                    }
                </div>

            }
        </div>
    </div>

}
else
{
    <div class="pinkBgColor py-4 customColouredContainer d-flex align-items-center justify-content-center">
        <div class="container d-flex flex-column align-items-center">
            <h4 class="abrilFont my-4">Skapa en grupp för att dela prylar!</h4>
            <a asp-page="/Group" class="btn custom-btn fontColor fw-bold greenBgColor my-4">Skapa ny grupp</a>
        </div>
    </div>
}