.member-container{
    justify-content:space-between;
}
.member-container:hover {
    background-color: rgb(240, 248, 248)
} 
.delete-btn {
    color: red;
    background-color:transparent;
    border: none;
}
.group-row{
    height: 3rem;
}
.arrow-container {
    justify-content: flex-end;
}
.groupTab {
    color: rgb(23, 64, 56);
}
/*------GROUPCHAT------*/
.message{
    border:dotted;
}